In [453]:
import numpy as np
import pandas as pd

np.random.seed(42)

In [454]:
df = pd.read_csv('titanic.csv')

In [455]:
is_nan = np.array(df.isna().sum()) # returns the number of nan values in each column

for i in range(len(df.columns)):
    if is_nan[i] > 0:
        print(df.columns[i],df[df.columns[i]].dtype)

Age float64
Cabin object
Embarked object

In [456]:
X = df.drop(columns=["Survived"])
y = df.Survived

In [457]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#replace nan with missing with catagorical data
catagorical_imputer = SimpleImputer(strategy="constant",fill_value="missing")

#replace nan with mean for continuous values
continuous_imputer = SimpleImputer(strategy="mean")

catagorial_data = ["Cabin","Embarked"]
continuous_data = ["Age"]

imputer = ColumnTransformer([("catagorical_imputer",catagorical_imputer,catagorial_data),("continuous_imputer",continuous_imputer,continuous_data)])

filled_X = imputer.fit_transform(X)
'''
X.Embarked = pd.Series(catagorical_imputer.fit_transform(np.array(X.Embarked).reshape(1, -1)).reshape(-1,1).ravel())
X.Cabin = pd.Series(catagorical_imputer.fit_transform(np.array(X.Cabin).reshape(1, -1)).reshape(-1,1).ravel())
X.Age =  pd.Series(continuous_imputer.fit_transform(np.array(X.Age).reshape(1, -1)).reshape(-1,1).ravel())
'''

'\nX.Embarked = pd.Series(catagorical_imputer.fit_transform(np.array(X.Embarked).reshape(1, -1)).reshape(-1,1).ravel())\nX.Cabin = pd.Series(catagorical_imputer.fit_transform(np.array(X.Cabin).reshape(1, -1)).reshape(-1,1).ravel())\nX.Age =  pd.Series(continuous_imputer.fit_transform(np.array(X.Age).reshape(1, -1)).reshape(-1,1).ravel())\n'

In [458]:
new_df = pd.DataFrame(filled_X,columns=["Cabin","Embarked","Age"])
new_df['Age'] = new_df['Age'].astype(float)
X

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [459]:
X.Cabin = new_df.Cabin
X.Embarked = new_df.Embarked
X.Age = new_df.Age
X = X.drop(columns=["PassengerId","Name"])

catagorical_data = []

for col in X.columns:
    if X[col].dtype == object:
        catagorical_data.append(col)

print(X)

     Pclass     Sex        Age  SibSp  Parch            Ticket     Fare  \
0         3    male  22.000000      1      0         A/5 21171   7.2500
1         1  female  38.000000      1      0          PC 17599  71.2833
2         3  female  26.000000      0      0  STON/O2. 3101282   7.9250
3         1  female  35.000000      1      0            113803  53.1000
4         3    male  35.000000      0      0            373450   8.0500
..      ...     ...        ...    ...    ...               ...      ...
886       2    male  27.000000      0      0            211536  13.0000
887       1  female  19.000000      0      0            112053  30.0000
888       3  female  29.699118      1      2        W./C. 6607  23.4500
889       1    male  26.000000      0      0            111369  30.0000
890       3    male  32.000000      0      0            370376   7.7500

       Cabin Embarked
0    missing        S
1        C85        C
2    missing        S
3       C123        S
4    missing        S
..       ...      ...
886  missing        S
887      B42        S
888  missing        S
889     C148        C
890  missing        Q

[891 rows x 9 columns]

In [460]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

one_hot_encoder = OneHotEncoder()
transformer = ColumnTransformer([("one_hot_encoder",one_hot_encoder,catagorical_data)],remainder="passthrough")

In [461]:
transformed_X = transformer.fit_transform(X)
transformed_X

<891x840 sparse matrix of type '<class 'numpy.float64'>'
	with 6718 stored elements in Compressed Sparse Row format>

In [462]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(transformed_X,y,test_size=0.2) '''

'\nrom sklearn.model_selection import train_test_split\n\nX_train,X_test,y_train,y_test = train_test_split(transformed_X,y,test_size=0.2) '

In [463]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [464]:
rfc.score(transformed_X,y)

0.9988776655443322

# Test Phase