In [176]:
import pandas as pd
import numpy as np

In [177]:
car_sales = pd.read_csv('car-sales-extended.csv')

In [178]:
car_sales

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [179]:
for col in car_sales.columns:
    if car_sales[col].dtype == 'float64':
        car_sales[col] = car_sales[col].fillna(car_sales[col].mean()).round(2)
    if car_sales[col].dtype == object:
        car_sales[col] = car_sales[col].fillna(car_sales[col].mode())

In [180]:
car_sales.dropna(inplace=True)

In [181]:
car_sales.to_csv('final_car_sales.csv')